* {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato";
  font-weight: 700;
}

body { 
  padding-top: 80px; 
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  opacity: .7;
  text-decoration: none !important;
}

.navbar {
  background-color: white;
  transition: top 0.3s; /* Transition effect when sliding down (and up)*/
}

.nav-link {
  color: #2664A1 !important;
}

.nav-link:hover {
  color: #D96F32 !important;
}

@media(min-width: 999px) {
  #smallLogo {
    display: none;    
  }
}

#companyTitle {
  display: none;

}

@media(min-width: 1000px) {
  #companyTitle {
    display: inline;    
  }
}

.hero {
  width: 100%;
  height:500px;
  color:white;
  background: url(/img/hero2ereg.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header-content {
  padding: 15px;
  width: 450px;
  background-color:rgba(0, 0, 0, .5);
  border-radius: 9px;
}

@media(max-width: 500px) {
  .header-content {
    width: 80%;    
  }
}

#boardwalk {
  margin: 0px auto;
}

#help-info {
  margin: auto, auto;
}

#headerInfo {
  width: 85%;
  padding: 2px;
  
}

.services {
  text-align: center;
  width: 100%;
  height: 350px;
  margin: 0px auto;
  margin-top: 20px;
  background-image: linear-gradient(#2664A1, white);
  color: white;
}

#serviceList {
  padding-top: 15px;
}

.card {
  text-align: center;
  color: #5D8C2E;
}

.card p {
  color: black;
}

@media(max-width: 500px) {
  .services {
    width: 95%;    
  }
}

.btn:hover {
  opacity: 0.9;
}

.card:hover {
  background-color: #5D8C2E;
  color: white;
}

#contactus {
  margin-top: 50px;
}

#left-contact {
  background: url('/img/hero.jpg')no-repeat center/cover;
  border-radius: 6px;
}

@media(max-width: 768px) {
  #left-contact {
    display: none;    
  }
}

#quote {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    border-radius: 4px;
}

#right-contact {
  padding-right: 0px;
}

#message {
  resize: none;
  overflow: auto;
}

footer {
  background-color: #122640;
  color: white;
  margin-top: -20px;
}