* {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato";
  font-weight: 700;
}

body { 
  padding-top: 77px; 
  font-family: 'Open Sans', sans-serif;
}

#logo img {
  z-index: 1;
  max-width: 15%;
  margin: 12px;
}

.nav-link {
  color: #2664A1 !important;
}

.nav-link:hover {
  color: #D96F32 !important;
}

.navbar {
  background-color: white;
}

.company-title {
  display: none;
  color: #5D8C2E;
  font-family: "Lato";
}

@media(min-width: 1000px) {
  .company-title {
    display: inline;    
  }
}


.hero {
  width: 100%;
  height:500px;
  color:white;
  background: url(/img/hero2ereg.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.header-content {
  padding: 15px;
  width: 450px;
  background-color:rgba(0, 0, 0, .5);
  border-radius: 9px;
}

@media(max-width: 500px) {
  .header-content {
    width: 80%;    
  }
}

.h-p {
  width: 85%;
  display: inline-block;
  text-align: center;
  padding: 2px;
  
}

.help-info {
  text-align: left;
}

.help-button {
  text-align: right;
}

.services {
  text-align: center;
  width: 65%;
  margin: 0px auto;
  margin-top: 20px;
}

.card {
  text-align: center;
  color: #5D8C2E;
}

.card p {
  color: black;
}

@media(max-width: 500px) {
  .services {
    width: 85%;    
  }
}

.btn:hover {
  opacity: 0.9;
}

.card:hover {
  background-color: #5D8C2E;
  color: white;
}

#contactus {
  margin-top: 50px;
}

#left-contact {
  background: url('/img/hero.jpg')no-repeat center/cover;
  border-radius: 6px;
}

#quote {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, .5);
    padding: 30px 60px;
    border-radius: 4px;
}

a:hover {
  opacity: .7;
  text-decoration: none !important;
}

footer {
  background-image: linear-gradient(white, #5D8C2E);
}